<section class="container">
  <div class="container-list">
    @for (name of names; track name) {
    <div class="container-list-item" (click)="onSelectName(name)">
      {{ name }}
    </div>
    }
  </div>

  <div class="container-list">
    @for (age of ages; track age) {
    <div class="container-list-item" (click)="onSelectAge(age)">{{ age }}</div>
    }
  </div>

  <div class="container-person" style='border-bottom: 3px solid red;'>
    {{ currentPerson() | json }}
  </div>

  <div class="container-age-category" style='border-bottom: 3px solid red;'>
    {{ ageCategory() }}
  </div>

  <button class="update-button" (click)="onUpdateUserDataToRandom()">
    {{ "Update user data to random" | titlecase }}
  </button>

  <div class="counter">
    value - {{ counter() }}
    <button (click)="onIncrementCounter()">+</button>
  </div>

  <div class="initial-observable-list">
    <p>observable list</p>
    @for (item of initialObservableList$ | async; track item) {
    {{ item }}
    }
  </div>

  <div class="signal-list">
    <p>signal list from observable using <i>toSIgnal</i></p>
    @for (item of signalListFromIbservable(); track item) {
    {{ item }}
    }
  </div>

  <div class="observable-list">
    <p>observable list from signal</p>
    @for (item of observableListFromSignal$ | async; track item) {
    {{ item }}
    }
  </div>
</section>
